@charset "UTF-8";


* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.authtext__confirmbutton {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
  object-fit: contain;
}

.authpage {
  font-family: sf;
  color: white;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: linear-gradient(93deg, rgb(12, 22, 86) 0%, rgb(121, 196, 242) 100%);
}

.input__auth {
  border: 1px solid white;
  color: white;
  border-radius: 6px;
  text-align: center;
  padding: 5px;
  background-color: black;
}

.no-webp .inputcontainer {
  background: rgba(0, 0, 0, 0.5) url("../../public/img/graph.jpg") center no-repeat fixed;
}

.inputcontainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-size: cover;
  background-blend-mode: multiply;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 90%;
  width: 90%;
  border: 1px black solid;
  border-radius: 30px;
  padding-top: 30px;
  background: rgba(0, 0, 0, 0.5) url("../../public/img/graph.jpg") center no-repeat fixed
}

.inputcontainer__authreg {
  margin-bottom: 7.5%;
}

.inputcontainer__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: auto;
}

.inputcontainer__registr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.inputcontainer__logo {
  -ms-grid-column-align: start;
  justify-self: start;
}

.authtext {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.regtext {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

._chosen {
  font-size: 2rem;
}

.authtext__confirmbutton {
  font-size: 1.5rem;
  border: 1px solid gray;
  border-radius: 6px;
  background-color: rgb(40, 61, 137);
  padding: 5px 15px;
  width: 220px;
  height: 70px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.authtext__confirmbutton:before {
  content: "";
  background: linear-gradient(45deg, #00ffd5, #002bff, #7a00ff);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing 20s linear infinite;
  animation: glowing 20s linear infinite;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.authtext__confirmbutton:active {
  color: #000;
}

.authtext__confirmbutton:active:after {
  background: transparent;
}

.authtext__confirmbutton:hover:before {
  opacity: 1;
}

.authtext__confirmbutton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@-webkit-keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

._ishidden {
  display: none;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.webp .inputcontainer {
  background: rgba(0, 0, 0, 0.5) url(../../public/img/graph.jpg) center no-repeat fixed;
  background-size: cover;
}

.header {
  display: none;
}

.navbar {
  display: none;
}